package dto

import (
	pb "{{.Package}}/{{.OutDir}}/{{.LowerName}}/grpc"
	"{{.Package}}/{{.OutDir}}/{{.LowerName}}/entities"
)

type Create{{.CapitalizedName}}Input struct {
{{range .Fields}}{{if not .Association}}    {{.CapitalizedName}} {{if not .Array}}*{{end}}{{.Type}} `json:"{{.SnakeName}}"{{if not .Optional}} validate:"required"{{end}}`
{{else if eq .Association "hasOne"}}    {{.CapitalizedName}}ID *uint `json:"{{.SnakeName}}_id"`
{{end}}{{end}}}

func (u *Create{{.CapitalizedName}}Input) ToEntity() *entities.{{.CapitalizedName}} {
	return &entities.{{.CapitalizedName}}{
{{range .Fields}}{{if not .Association}}        {{.CapitalizedName}}: u.{{.CapitalizedName}},
{{else if eq .Association "hasOne"}}        {{.CapitalizedName}}ID: u.{{.CapitalizedName}}ID,
{{end}}{{end}}    }
}

func (u *Create{{.CapitalizedName}}Input) ToPb() *pb.Create{{.CapitalizedName}}Input {
	{{range .Fields}}{{if eq .Association "hasOne"}}    {{.Name}}ID := int32(*u.{{.CapitalizedName}}ID)
	{{end}}{{end}}		return &pb.Create{{.CapitalizedName}}Input{
		{{range .Fields}}{{if not .Association}}        {{.CapitalizedName}}: {{if not .Optional}}*{{end}}u.{{.CapitalizedName}},
		{{else if eq .Association "hasOne"}}        {{.CapitalizedName}}Id: {{.Name}}ID,
		{{end}}{{end}} 
	}
}