package dto

import (
	"time"

	"{{.Package}}/internal/pkg/{{.Name}}/entities"
)

type {{.CapitalizedName}} struct {
	ID        uint       `json:"id" example:"1"`
{{range .Fields}}    {{.CapitalizedName }} {{if not .Array}}*{{end}}{{.Type}} `json:"{{.SnakeName}}"`
{{end}}    CreatedAt *time.Time `json:"created_at"`
	UpdatedAt *time.Time `json:"updated_at"`
	DeletedAt *time.Time `json:"deleted_at"`
}

func FromEntity({{.Name}} *entities.{{.CapitalizedName}}) *{{.CapitalizedName}} {
	{{.Name}}Dto := {{.CapitalizedName}}{
		ID:        {{.Name}}.ID,
{{range .Fields}}        {{.CapitalizedName}}: {{$.Name}}.{{.CapitalizedName}},
{{end}}        CreatedAt: &{{.Name}}.CreatedAt,
		UpdatedAt: &{{.Name}}.UpdatedAt,
	}
	if {{.Name}}.DeletedAt.Valid {
		{{.Name}}Dto.DeletedAt = &{{.Name}}.DeletedAt.Time
	}
	return &{{.Name}}Dto
}
