package dto

import (
	"{{.Package}}/{{.OutDir}}/{{.LowerName}}/entities"
	"gorm.io/gorm"
)

type Update{{.CapitalizedName}}Input struct {
	ID      uint    `json:"id" validate:"required" example:"1"`
{{range .Fields}}{{if not .Association}}    {{.CapitalizedName}} {{if not .Array}}*{{end}}{{.Type}} `json:"{{.SnakeName}}"`
{{else if eq .Association "hasOne"}}    {{.CapitalizedName}}ID *uint `json:"{{.SnakeName}}_id"`
{{end}}{{end}}}

func (u *Update{{.CapitalizedName}}Input) ToEntity() *entities.{{.CapitalizedName}} {
	return &entities.{{.CapitalizedName}}{
		Model: gorm.Model{
			ID: u.ID,
		},
{{range .Fields}}{{if not .Association}}        {{.CapitalizedName}}: u.{{.CapitalizedName}},
{{else if eq .Association "hasOne"}}        {{.CapitalizedName}}ID: u.{{.CapitalizedName}}ID,
{{end}}{{end}}    }
}
